<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Project</title>
        <meta name="theme-color" content="">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <link rel="shortcut icon" href="/img/favicons/favicon.ico" type="image/x-icon">
        <link rel="apple-touch-icon" href="/img/favicons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="57x57" href="/img/favicons/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/img/favicons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/img/favicons/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/img/favicons/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/img/favicons/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/img/favicons/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicons/apple-touch-icon-180x180.png">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
        <link rel="stylesheet" href="/styles/main.css">
    </head>
    <body>
    <main>
        <div class="line-one"></div>
        <section class="main-screen">
            <header>
                <nav class="navbar">
                    <a href="index.html" class="logo">Logo.</a>
                    <div class="menu-icon"><span></span></div>
                    <div class="navigation">
                        <ul class="menu">
                            <li class="nav-list-item"><a href="#" class="nav-link-item">Themes</a></li>
                            <li class="nav-list-item"><a href="#" class="nav-link-item">Plugins</a></li>
                            <li class="nav-list-item"><a href="#" class="nav-link-item">Docs</a></li>
                            <li class="nav-list-item"><a href="#" class="nav-link-item">Support</a></li>
                        </ul>
                    </div>
                </nav>
            </header>
            <section class="post-container">
                <div class="meta-box">
                    <div class="title">
                        <h1>BoilerPlate</h1>
                        <p>What you are looking for is looking for you too.</p>
                    </div>
                </div>
            </section>
            <footer>
                <div class="nav-footer">
                    <div class="langs">
                        <a href="#">Ru</a>
                        <a href="#">En</a>
                        <a href="#">Fr</a>
                    </div>
                    <div class="social">
                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </div>
                </div>
            </footer>
        </section>
    </main>
        <script src="/js/bundles/BundleName.js"></script>
        <script src="/js/main.js"></script>
    </body>
</html>